*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 3000px;
}

body
{
 background: rgb(247, 84, 8);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 1.2rem;
 min-height: 100%;
}

.grid > * {
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.096)
}
.header {
    grid-area: header;
    
    background: rgb(247, 84, 8);
}
.nav {
    text-align: end;
    grid-area: nav;
    background: rgba(21, 24, 216, 0);
}
.aside {
    text-align: end;
    grid-area: aside;
    background: rgba(252, 100, 100, 0);
}
.aside2 {
    text-align: end;
    grid-area: aside2;
    background: rgba(56, 7, 7, 0);
}
.main {
    grid-area: main;
    background: rgb(73, 40, 190);
    background: fixed  url("images/perrillo.jpg") ;
   
}
.footer {
    grid-area: footer;
    background: rgb(81, 150, 121);
}
.imagen{
    
}
.grid{
    font-size: 1.5rem;
display: grid;
gap: 10px;
grid-template:
"header" 120px
"nav"50px
"aside" 50px
"aside2" 50px
"main" auto
"footer"70px;
}
@media (min-width: 600px) {
    .grid {

        font-size: 1.5rem;
grid-template: 
"header header" 100px
"nav    nav"    50px
"aside  main"   auto
"aside2 footer" 100px /
 200px auto;
        
    }
}

@media (min-width: 900px) {
    .grid {

        font-size: 2rem;
        
grid-template: 
"header header header" 100px
"nav    main   aside"  auto
"aside2 footer footer" 100px /
 200px auto;
        
    }
}

